@use "../base/templates" as *;
@use "../base/media" as *;

.s-about {
  @include laptop-min {
    overflow: hidden;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 40px;

    @media (max-width: 1199px) {
      align-items: start;
    }
    @include laptop-min {
      flex-wrap: wrap;
    }
  }
  &__info {
    flex: 1;
    @include laptop-min {
      flex: auto;
      width: 100%;
    }
  }
  &__title {
    margin-bottom: 30px;
  }
  &__content {
    margin: 0;
    font-size: 18px;
    line-height: 144%;
    @include tablet {
      font-size: 16px;
    }
  }
  &__adv {
    margin-top: 30px;
  }
  &__adv-title {
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__adv-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 490px;
    gap: 20px;
    @include laptop-min {
      max-width: none;
    }
    @include tablet-min {
      grid-template-columns: 1fr;
    }
  }
  &__adv-item {
    display: flex;
    align-items: start;
    gap: 12px;

    &::before {
      content: "";
      display: block;
      flex-shrink: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--primary);
      margin-top: 8px;
    }

    .title {
      font-weight: 700;
      font-size: 15px;
      line-height: 130%;
      margin: 0px 0px 5px 0px;
    }
    .content {
      margin: 0;
      font-size: 15px;
      line-height: 130%;
    }
    .inside {
    }
  }
  &__gallery {
    width: 700px;
    overflow: hidden;
    @media (min-width: 992px) {
      position: sticky;
      top: 100px;
    }
    @include laptop {
      width: 600px;
    }
    @include laptop-middle {
      width: 450px;
    }
    @include laptop-min {
      width: 100%;
      overflow: visible;
    }
    .slider-scrollbar {
      margin-top: 40px;
      background: rgba(0, 0, 0, 0.2);
      @include tablet-min {
        margin-top: 25px;
      }
    }
  }
  &__slider {
    width: 100%;
    display: flex;
    align-items: center;

    @include laptop-min {
      overflow: visible !important;
    }

    .slider-arrow {
      position: absolute;
      z-index: 10;

      @include tablet {
        display: none !important;
      }

      &._prev {
        left: 20px;
      }
      &._next {
        right: 20px;
      }
    }
  }
  &__slide {
    display: block;
    width: 100%;
    aspect-ratio: 1/0.55;
    overflow: hidden;

    @include hover {
      img {
        transform: scale(1.08);
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

      transition: transform 0.3s linear;
    }
  }
  &__thumb-slider {
    margin-top: 20px;
    @include laptop-min {
      overflow: visible !important;
    }
  }
  &__thumb-slide {
    aspect-ratio: 1/0.9;
    cursor: pointer;

    @include tablet-min {
      width: 120px !important;
      max-width: 100%;
      aspect-ratio: 1/0.75;
    }
    @include hover {
      &::before {
        opacity: 1;
      }
    }

    &.swiper-slide-thumb-active {
      pointer-events: none;
      &::before {
        opacity: 1;
      }
    }

    &::before {
      position: absolute;
      content: "";
      inset: 0;
      border: 2px solid var(--primary);
      opacity: 0;
      z-index: 1;

      transition: opacity 0.3s ease;
    }
  }
}
