@font-face {
	font-family: LiberationSans;
	font-display: swap;
	src: url("../files/fonts/LiberationSans.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: LiberationSans;
	font-display: swap;
	src: url("../files/fonts/LiberationSans-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}