<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__logos">
        <a href="/" class="footer__logo">
          <img src="@img/logo-white.svg" alt="logo" />
        </a>
        <img
          src="@img/logo-white-2.svg"
          alt="logo"
          class="footer__logo-second"
        />
        <div class="footer__copyright">© 2026 АВТОСЕТЬ.РФ</div>
      </div>
      <ul class="list footer__list">
        <li><a href="#s-catalog">Модельный ряд</a></li>
        <li><a href="#s-offer">Программы кредитования</a></li>
        <li><a href="#s-promo">Специальные предложения</a></li>
        <li><a href="#s-request">Оформить кредит</a></li>
        <li><a href="#s-contacts">Как нас найти</a></li>
        <li><a href="#s-connect">Тест-драйв</a></li>
      </ul>
      <div class="footer__contacts">
        <div class="footer__address">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-location"></use>
          </svg>
          <span>Нижний Тагил, Черноисточинское шоссе, зд. 68, стр. 2</span>
        </div>
        <a href="tel:+73435478547" class="footer__tel">+7 (343) 547 85 47</a>
        <a href="mailto:info@lada-nauto.ru" class="footer__mail">
          info@lada-nauto.ru
        </a>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__bottom-content">
        Все права защищены. Копирование материалов строго по согласию
        администрации сайта.
      </div>
      <ul class="list footer__bottom-list">
        <li>
          <a href="#privacy-policy" target="_blank">
            Политика конфиденциальности
          </a>
        </li>
        <li>
          <a href="#privacy-policy" target="_blank">
            Политика обработки персональных данных
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<script src="./files/swiper/swiper.min.js"></script>
<script src="./files/fancybox/fancybox.min.js"></script>
<script src="./files/inputmask/inputmask.min.js"></script>
