<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__logos">
        <a href="/" class="header__logo">
          <img src="@img/logo.svg" alt="logo" />
        </a>
        <img src="@img/logo-2.svg" alt="image" class="header__logo-img" />
      </div>
      <div class="header__contacts">
        <div class="header__address">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-location"></use>
          </svg>
          <span>Нижний Тагил, Черноисточинское шоссе, зд. 68, стр. 2</span>
        </div>
        <a href="tel:+73435478547" class="header__tel">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-tel"></use>
          </svg>
          <span>+7 (343) 547 85 47</span>
        </a>
        <div class="header__burger-btn" id="burger-open">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</header>
<nav class="header-nav">
  <div class="container">
    <ul class="list header-nav__list">
      <li><a href="#s-catalog">Модельный ряд</a></li>
      <li><a href="#s-offer">Программы кредитования</a></li>
      <li><a href="#s-promo">Специальные предложения</a></li>
      <li><a href="#s-request">Оформить кредит</a></li>
      <li><a href="#s-contacts">Как нас найти</a></li>
      <li><a href="#s-connect">Тест-драйв</a></li>
    </ul>
  </div>
</nav>

<aside class="burger-overlay" id="burger-overlay"></aside>
<aside class="burger" id="burger">
  <div class="burger__head">
    <a href="/" class="burger__logo">
      <img src="@img/logo.svg" alt="logo" />
    </a>
    <div class="burger__close" id="burger-close">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-close"></use>
      </svg>
    </div>
  </div>
  <ul class="list burger__list">
    <li><a href="#s-catalog">Модельный ряд</a></li>
    <li><a href="#s-offer">Программы кредитования</a></li>
    <li><a href="#s-promo">Специальные предложения</a></li>
    <li><a href="#s-request">Оформить кредит</a></li>
    <li><a href="#s-contacts">Как нас найти</a></li>
    <li><a href="#s-connect">Тест-драйв</a></li>
  </ul>
  <div class="burger__contacts">
    <a href="tel:+73435478547" class="burger__tel">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-tel"></use>
      </svg>
      <span>+7 (343) 547 85 47</span>
    </a>
    <div class="burger__address">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-location"></use>
      </svg>
      <span>Нижний Тагил, Черноисточинское шоссе, зд. 68, стр. 2</span>
    </div>
  </div>
</aside>
