<section class="sect-p bg-light s-about" id="s-about">
  <div class="container">
    <div class="s-about__wrapper">
      <div class="s-about__info">
        <h2 class="s-title s-about__title">
          официальный дилер LADA в Нижнем Тагиле
        </h2>
        <p class="s-about__content">
          Автосеть РФ предлагает широкий выбор новых автомобилей LADA,
          гарантируем высокий уровень сервиса и индивидуальный подход к каждому
          клиенту. В нашем автосалоне вы сможете ознакомиться с последними
          моделями, воспользоваться выгодными условиями покупки и пройти
          качественное обслуживание.
        </p>
        <div class="s-about__adv">
          <h3 class="t-title s-about__adv-title">Наши преимущества:</h3>
          <div class="s-about__adv-grid">
            <div class="s-about__adv-item">
              <div class="inside">
                <h5 class="title">Широкий выбор моделей:</h5>
                <p class="content">
                  В наличии автомобили семейства Niva Legend, Granta, Iskra и
                  другие.
                </p>
              </div>
            </div>
            <div class="s-about__adv-item">
              <div class="inside">
                <h5 class="title">Специальные предложения:</h5>
                <p class="content">
                  Регулярные акции, включая выгоду до 550 000 рублей на LADA
                  Aura.
                </p>
              </div>
            </div>
            <div class="s-about__adv-item">
              <div class="inside">
                <h5 class="title">Профессиональный сервис:</h5>
                <p class="content">
                  Гарантийное обслуживание с использованием оригинальных
                  запчастей.
                </p>
              </div>
            </div>
            <div class="s-about__adv-item">
              <div class="inside">
                <h5 class="title">Финансовые программы:</h5>
                <p class="content">
                  Возможность приобретения автомобиля в кредит на выгодных
                  условиях.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="s-about__gallery">
        <div class="swiper s-about__slider">
          <div class="slider-arrow _prev _dark">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-prev"></use>
            </svg>
          </div>
          <div class="slider-arrow _next _dark">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-next"></use>
            </svg>
          </div>
          <div class="swiper-wrapper">
            <a
              href="@img/gallery-about.jpg"
              data-fancybox="about-gallery"
              class="swiper-slide s-about__slide"
            >
              <img src="@img/gallery-about.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-about.jpg"
              data-fancybox="about-gallery"
              class="swiper-slide s-about__slide"
            >
              <img src="@img/gallery-about.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-about.jpg"
              data-fancybox="about-gallery"
              class="swiper-slide s-about__slide"
            >
              <img src="@img/gallery-about.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-about.jpg"
              data-fancybox="about-gallery"
              class="swiper-slide s-about__slide"
            >
              <img src="@img/gallery-about.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-about.jpg"
              data-fancybox="about-gallery"
              class="swiper-slide s-about__slide"
            >
              <img src="@img/gallery-about.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-about.jpg"
              data-fancybox="about-gallery"
              class="swiper-slide s-about__slide"
            >
              <img src="@img/gallery-about.jpg" alt="image" />
            </a>
          </div>
        </div>
        <div class="swiper s-about__thumb-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide s-about__thumb-slide" style="background: url('@img/gallery-about.jpg') 0 0 / cover no-repeat;"></div>
            <div class="swiper-slide s-about__thumb-slide" style="background: url('@img/gallery-about.jpg') 0 0 / cover no-repeat;"></div>
            <div class="swiper-slide s-about__thumb-slide" style="background: url('@img/gallery-about.jpg') 0 0 / cover no-repeat;"></div>
            <div class="swiper-slide s-about__thumb-slide" style="background: url('@img/gallery-about.jpg') 0 0 / cover no-repeat;"></div>
            <div class="swiper-slide s-about__thumb-slide" style="background: url('@img/gallery-about.jpg') 0 0 / cover no-repeat;"></div>
            <div class="swiper-slide s-about__thumb-slide" style="background: url('@img/gallery-about.jpg') 0 0 / cover no-repeat;"></div>
          </div>
        </div>
        <div class="slider-scrollbar"></div>
      </div>
    </div>
  </div>
</section>
