<section class="s-catalog sect-p" id="s-catalog">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">модельный ряд lada</h2>
      <div class="slider-arrows">
        <div class="slider-arrow _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-prev"></use>
          </svg>
        </div>
        <div class="slider-arrow _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-next"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper s-catalog__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="card-product">
            <h3 class="card-product__title">Семейство Niva Travel</h3>
            <img alt="" class="card-product__img" />
            <div class="card-product__price">
              <div class="text">Цена от</div>
              <div class="val"></div>
            </div>
            <p class="card-product__content">
              LADA Niva Travel с новым двигателем — это новый уровень
              эффективности в любых условиях и в любой среде — в городе, на
              бездорожье и на шоссе.
            </p>
            <div class="card-product__nav">
              <div class="card-product__nav-item _colors">
                <div class="card-product__subtitle">Доступные цвета</div>
                <div class="colors">
                  <div
                    class="color-btn"
                    data-name="Серый"
                    data-img="@img/product-gray.png"
                    style="background: #c3c4c4"
                  ></div>
                  <div
                    class="color-btn"
                    data-name="Красный"
                    data-img="@img/product-red.png"
                    style="background: #8d1d2c"
                  ></div>
                  <div
                    class="color-btn _active"
                    data-name="Коричневый"
                    data-img="@img/product-brown.png"
                    style="background: #706c62"
                  ></div>
                </div>
              </div>
              <div class="card-product__nav-item _complectation">
                <div class="card-product__subtitle">Доступные комплектации</div>
                <div class="select">
                  <div class="select-btn">
                    <input
                      type="text"
                      placeholder="Выбрать"
                      readonly
                      class="select-input"
                    />
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-down"></use>
                    </svg>
                  </div>
                  <div class="select-body">
                    <div
                      class="select-item"
                      data-price="от 1 343 000 ₽"
                      data-items="Постоянный полный привод,Электропривод и обогрев наружных зеркал,Постоянный полный привод,Электропривод и обогрев наружных зеркал"
                    >
                      Классик’24
                    </div>
                    <div
                      class="select-item"
                      data-price="от 1 277 000 ₽"
                      data-items="Передние подушки безопасности,Система стабилизации ESC и ABS,Передние подушки безопасности,Система стабилизации ESC и ABS"
                    >
                      Комфорт
                    </div>
                    <div
                      class="select-item"
                      data-price="от 780 000 ₽"
                      data-items="Кондиционер,Электропривод и обогрев наружных зеркал,Электростеклоподъемники передних дверей,Устройство вызова экстренных служб ЭРА-ГЛОНАСС с функцией автоматической активации датчиками удара и подушкой безопасности водителя"
                    >
                      Классик Кондиционер
                    </div>
                    <div
                      class="select-item"
                      data-price="от 1 019 000 ₽"
                      data-items="Кондиционер,Электропривод и обогрев наружных зеркал,Электростеклоподъемники передних дверей,Устройство вызова экстренных служб ЭРА-ГЛОНАСС с функцией автоматической активации датчиками удара и подушкой безопасности водителя"
                    >
                      Классик Кондиционер
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-product__complectation">
              <div class="card-product__subtitle">
                Особенности выбранной комплектации
              </div>
              <ul class="list card-product__list"></ul>
              <div class="card-product__toggle-list">Развернуть</div>
            </div>
            <div class="card-product__buttons">
              <a
                href="#modal-feedback"
                data-fancybox
                data-target-note="#input-modal-feedback"
                data-btn-note=""
                class="btn-s _outline-primary card-product__feedback-btn"
              >
                Оставить заявку
              </a>
              <a
                href="#modal-feedback"
                data-fancybox
                data-target-note="#input-modal-feedback"
                data-btn-note="Записаться на тест-драйв. Семейство Niva Travel"
                class="btn-s _dark"
              >
                Записаться на тест-драйв
              </a>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-product">
            <h3 class="card-product__title">Семейство Iskra</h3>
            <img alt="" class="card-product__img" />
            <div class="card-product__price">
              <div class="text">Цена от</div>
              <div class="val"></div>
            </div>
            <p class="card-product__content">
              LADA Niva Travel с новым двигателем — это новый уровень
              эффективности в любых условиях и в любой среде — в городе, на
              бездорожье и на шоссе.
            </p>
            <div class="card-product__nav">
              <div class="card-product__nav-item _colors">
                <div class="card-product__subtitle">Доступные цвета</div>
                <div class="colors">
                  <div
                    class="color-btn"
                    data-name="Серый"
                    data-img="@img/product-gray.png"
                    style="background: #c3c4c4"
                  ></div>
                  <div
                    class="color-btn _active"
                    data-name="Красный"
                    data-img="@img/product-red.png"
                    style="background: #8d1d2c"
                  ></div>
                  <div
                    class="color-btn"
                    data-name="Коричневый"
                    data-img="@img/product-brown.png"
                    style="background: #706c62"
                  ></div>
                </div>
              </div>
              <div class="card-product__nav-item _complectation">
                <div class="card-product__subtitle">Доступные комплектации</div>
                <div class="select">
                  <div class="select-btn">
                    <input
                      type="text"
                      placeholder="Выбрать"
                      readonly
                      class="select-input"
                    />
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-down"></use>
                    </svg>
                  </div>
                  <div class="select-body">
                    <div
                      class="select-item"
                      data-price="от 1 343 000 ₽"
                      data-items="Постоянный полный привод,Электропривод и обогрев наружных зеркал"
                    >
                      Классик’24
                    </div>
                    <div
                      class="select-item"
                      data-price="от 1 277 000 ₽"
                      data-items="Передние подушки безопасности,Система стабилизации ESC и ABS,Передние подушки безопасности,Система стабилизации ESC и ABS"
                    >
                      Комфорт
                    </div>
                    <div
                      class="select-item"
                      data-price="от 780 000 ₽"
                      data-items="Кондиционер,Электропривод и обогрев наружных зеркал,Электростеклоподъемники передних дверей,Устройство вызова экстренных служб ЭРА-ГЛОНАСС с функцией автоматической активации датчиками удара и подушкой безопасности водителя"
                    >
                      Классик Кондиционер
                    </div>
                    <div
                      class="select-item"
                      data-price="от 1 019 000 ₽"
                      data-items="Кондиционер,Электропривод и обогрев наружных зеркал,Электростеклоподъемники передних дверей,Устройство вызова экстренных служб ЭРА-ГЛОНАСС с функцией автоматической активации датчиками удара и подушкой безопасности водителя"
                    >
                      Классик Кондиционер
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-product__complectation">
              <div class="card-product__subtitle">
                Особенности выбранной комплектации
              </div>
              <ul class="list card-product__list"></ul>
              <div class="card-product__toggle-list">Развернуть</div>
            </div>
            <div class="card-product__buttons">
              <a
                href="#modal-feedback"
                data-fancybox
                data-target-note="#input-modal-feedback"
                data-btn-note=""
                class="btn-s _outline-primary card-product__feedback-btn"
              >
                Оставить заявку
              </a>
              <a
                href="#modal-feedback"
                data-fancybox
                data-target-note="#input-modal-feedback"
                data-btn-note="Записаться на тест-драйв. Семейство Niva Travel"
                class="btn-s _dark"
              >
                Записаться на тест-драйв
              </a>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-product">
            <h3 class="card-product__title">Семейство Niva Travel</h3>
            <img alt="" class="card-product__img" />
            <div class="card-product__price">
              <div class="text">Цена от</div>
              <div class="val"></div>
            </div>
            <p class="card-product__content">
              LADA Niva Travel с новым двигателем — это новый уровень
              эффективности в любых условиях и в любой среде — в городе, на
              бездорожье и на шоссе.
            </p>
            <div class="card-product__nav">
              <div class="card-product__nav-item _colors">
                <div class="card-product__subtitle">Доступные цвета</div>
                <div class="colors">
                  <div
                    class="color-btn"
                    data-name="Серый"
                    data-img="@img/product-gray.png"
                    style="background: #c3c4c4"
                  ></div>
                  <div
                    class="color-btn"
                    data-name="Красный"
                    data-img="@img/product-red.png"
                    style="background: #8d1d2c"
                  ></div>
                  <div
                    class="color-btn _active"
                    data-name="Коричневый"
                    data-img="@img/product-brown.png"
                    style="background: #706c62"
                  ></div>
                </div>
              </div>
              <div class="card-product__nav-item _complectation">
                <div class="card-product__subtitle">Доступные комплектации</div>
                <div class="select">
                  <div class="select-btn">
                    <input
                      type="text"
                      placeholder="Выбрать"
                      readonly
                      class="select-input"
                    />
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-down"></use>
                    </svg>
                  </div>
                  <div class="select-body">
                    <div
                      class="select-item"
                      data-price="от 1 343 000 ₽"
                      data-items="Постоянный полный привод,Электропривод и обогрев наружных зеркал,Постоянный полный привод,Электропривод и обогрев наружных зеркал"
                    >
                      Классик’24
                    </div>
                    <div
                      class="select-item"
                      data-price="от 1 277 000 ₽"
                      data-items="Передние подушки безопасности,Система стабилизации ESC и ABS,Передние подушки безопасности,Система стабилизации ESC и ABS"
                    >
                      Комфорт
                    </div>
                    <div
                      class="select-item"
                      data-price="от 780 000 ₽"
                      data-items="Кондиционер,Электропривод и обогрев наружных зеркал,Электростеклоподъемники передних дверей,Устройство вызова экстренных служб ЭРА-ГЛОНАСС с функцией автоматической активации датчиками удара и подушкой безопасности водителя"
                    >
                      Классик Кондиционер
                    </div>
                    <div
                      class="select-item"
                      data-price="от 1 019 000 ₽"
                      data-items="Кондиционер,Электропривод и обогрев наружных зеркал,Электростеклоподъемники передних дверей,Устройство вызова экстренных служб ЭРА-ГЛОНАСС с функцией автоматической активации датчиками удара и подушкой безопасности водителя"
                    >
                      Классик Кондиционер
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-product__complectation">
              <div class="card-product__subtitle">
                Особенности выбранной комплектации
              </div>
              <ul class="list card-product__list"></ul>
              <div class="card-product__toggle-list">Развернуть</div>
            </div>
            <div class="card-product__buttons">
              <a
                href="#modal-feedback"
                data-fancybox
                data-target-note="#input-modal-feedback"
                data-btn-note=""
                class="btn-s _outline-primary card-product__feedback-btn"
              >
                Оставить заявку
              </a>
              <a
                href="#modal-feedback"
                data-fancybox
                data-target-note="#input-modal-feedback"
                data-btn-note="Записаться на тест-драйв. Семейство Niva Travel"
                class="btn-s _dark"
              >
                Записаться на тест-драйв
              </a>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-product">
            <h3 class="card-product__title">Семейство Iskra</h3>
            <img alt="" class="card-product__img" />
            <div class="card-product__price">
              <div class="text">Цена от</div>
              <div class="val"></div>
            </div>
            <p class="card-product__content">
              LADA Niva Travel с новым двигателем — это новый уровень
              эффективности в любых условиях и в любой среде — в городе, на
              бездорожье и на шоссе.
            </p>
            <div class="card-product__nav">
              <div class="card-product__nav-item _colors">
                <div class="card-product__subtitle">Доступные цвета</div>
                <div class="colors">
                  <div
                    class="color-btn"
                    data-name="Серый"
                    data-img="@img/product-gray.png"
                    style="background: #c3c4c4"
                  ></div>
                  <div
                    class="color-btn _active"
                    data-name="Красный"
                    data-img="@img/product-red.png"
                    style="background: #8d1d2c"
                  ></div>
                  <div
                    class="color-btn"
                    data-name="Коричневый"
                    data-img="@img/product-brown.png"
                    style="background: #706c62"
                  ></div>
                </div>
              </div>
              <div class="card-product__nav-item _complectation">
                <div class="card-product__subtitle">Доступные комплектации</div>
                <div class="select">
                  <div class="select-btn">
                    <input
                      type="text"
                      placeholder="Выбрать"
                      readonly
                      class="select-input"
                    />
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-down"></use>
                    </svg>
                  </div>
                  <div class="select-body">
                    <div
                      class="select-item"
                      data-price="от 1 343 000 ₽"
                      data-items="Постоянный полный привод,Электропривод и обогрев наружных зеркал"
                    >
                      Классик’24
                    </div>
                    <div
                      class="select-item"
                      data-price="от 1 277 000 ₽"
                      data-items="Передние подушки безопасности,Система стабилизации ESC и ABS,Передние подушки безопасности,Система стабилизации ESC и ABS"
                    >
                      Комфорт
                    </div>
                    <div
                      class="select-item"
                      data-price="от 780 000 ₽"
                      data-items="Кондиционер,Электропривод и обогрев наружных зеркал,Электростеклоподъемники передних дверей,Устройство вызова экстренных служб ЭРА-ГЛОНАСС с функцией автоматической активации датчиками удара и подушкой безопасности водителя"
                    >
                      Классик Кондиционер
                    </div>
                    <div
                      class="select-item"
                      data-price="от 1 019 000 ₽"
                      data-items="Кондиционер,Электропривод и обогрев наружных зеркал,Электростеклоподъемники передних дверей,Устройство вызова экстренных служб ЭРА-ГЛОНАСС с функцией автоматической активации датчиками удара и подушкой безопасности водителя"
                    >
                      Классик Кондиционер
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-product__complectation">
              <div class="card-product__subtitle">
                Особенности выбранной комплектации
              </div>
              <ul class="list card-product__list"></ul>
              <div class="card-product__toggle-list">Развернуть</div>
            </div>
            <div class="card-product__buttons">
              <a
                href="#modal-feedback"
                data-fancybox
                data-target-note="#input-modal-feedback"
                data-btn-note=""
                class="btn-s _outline-primary card-product__feedback-btn"
              >
                Оставить заявку
              </a>
              <a
                href="#modal-feedback"
                data-fancybox
                data-target-note="#input-modal-feedback"
                data-btn-note="Записаться на тест-драйв. Семейство Niva Travel"
                class="btn-s _dark"
              >
                Записаться на тест-драйв
              </a>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-product">
            <h3 class="card-product__title">Семейство Niva Travel</h3>
            <img alt="" class="card-product__img" />
            <div class="card-product__price">
              <div class="text">Цена от</div>
              <div class="val"></div>
            </div>
            <p class="card-product__content">
              LADA Niva Travel с новым двигателем — это новый уровень
              эффективности в любых условиях и в любой среде — в городе, на
              бездорожье и на шоссе.
            </p>
            <div class="card-product__nav">
              <div class="card-product__nav-item _colors">
                <div class="card-product__subtitle">Доступные цвета</div>
                <div class="colors">
                  <div
                    class="color-btn"
                    data-name="Серый"
                    data-img="@img/product-gray.png"
                    style="background: #c3c4c4"
                  ></div>
                  <div
                    class="color-btn"
                    data-name="Красный"
                    data-img="@img/product-red.png"
                    style="background: #8d1d2c"
                  ></div>
                  <div
                    class="color-btn _active"
                    data-name="Коричневый"
                    data-img="@img/product-brown.png"
                    style="background: #706c62"
                  ></div>
                </div>
              </div>
              <div class="card-product__nav-item _complectation">
                <div class="card-product__subtitle">Доступные комплектации</div>
                <div class="select">
                  <div class="select-btn">
                    <input
                      type="text"
                      placeholder="Выбрать"
                      readonly
                      class="select-input"
                    />
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-down"></use>
                    </svg>
                  </div>
                  <div class="select-body">
                    <div
                      class="select-item"
                      data-price="от 1 343 000 ₽"
                      data-items="Постоянный полный привод,Электропривод и обогрев наружных зеркал,Постоянный полный привод,Электропривод и обогрев наружных зеркал"
                    >
                      Классик’24
                    </div>
                    <div
                      class="select-item"
                      data-price="от 1 277 000 ₽"
                      data-items="Передние подушки безопасности,Система стабилизации ESC и ABS,Передние подушки безопасности,Система стабилизации ESC и ABS"
                    >
                      Комфорт
                    </div>
                    <div
                      class="select-item"
                      data-price="от 780 000 ₽"
                      data-items="Кондиционер,Электропривод и обогрев наружных зеркал,Электростеклоподъемники передних дверей,Устройство вызова экстренных служб ЭРА-ГЛОНАСС с функцией автоматической активации датчиками удара и подушкой безопасности водителя"
                    >
                      Классик Кондиционер
                    </div>
                    <div
                      class="select-item"
                      data-price="от 1 019 000 ₽"
                      data-items="Кондиционер,Электропривод и обогрев наружных зеркал,Электростеклоподъемники передних дверей,Устройство вызова экстренных служб ЭРА-ГЛОНАСС с функцией автоматической активации датчиками удара и подушкой безопасности водителя"
                    >
                      Классик Кондиционер
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-product__complectation">
              <div class="card-product__subtitle">
                Особенности выбранной комплектации
              </div>
              <ul class="list card-product__list"></ul>
              <div class="card-product__toggle-list">Развернуть</div>
            </div>
            <div class="card-product__buttons">
              <a
                href="#modal-feedback"
                data-fancybox
                data-target-note="#input-modal-feedback"
                data-btn-note=""
                class="btn-s _outline-primary card-product__feedback-btn"
              >
                Оставить заявку
              </a>
              <a
                href="#modal-feedback"
                data-fancybox
                data-target-note="#input-modal-feedback"
                data-btn-note="Записаться на тест-драйв. Семейство Niva Travel"
                class="btn-s _dark"
              >
                Записаться на тест-драйв
              </a>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-product">
            <h3 class="card-product__title">Семейство Iskra</h3>
            <img alt="" class="card-product__img" />
            <div class="card-product__price">
              <div class="text">Цена от</div>
              <div class="val"></div>
            </div>
            <p class="card-product__content">
              LADA Niva Travel с новым двигателем — это новый уровень
              эффективности в любых условиях и в любой среде — в городе, на
              бездорожье и на шоссе.
            </p>
            <div class="card-product__nav">
              <div class="card-product__nav-item _colors">
                <div class="card-product__subtitle">Доступные цвета</div>
                <div class="colors">
                  <div
                    class="color-btn"
                    data-name="Серый"
                    data-img="@img/product-gray.png"
                    style="background: #c3c4c4"
                  ></div>
                  <div
                    class="color-btn _active"
                    data-name="Красный"
                    data-img="@img/product-red.png"
                    style="background: #8d1d2c"
                  ></div>
                  <div
                    class="color-btn"
                    data-name="Коричневый"
                    data-img="@img/product-brown.png"
                    style="background: #706c62"
                  ></div>
                </div>
              </div>
              <div class="card-product__nav-item _complectation">
                <div class="card-product__subtitle">Доступные комплектации</div>
                <div class="select">
                  <div class="select-btn">
                    <input
                      type="text"
                      placeholder="Выбрать"
                      readonly
                      class="select-input"
                    />
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-down"></use>
                    </svg>
                  </div>
                  <div class="select-body">
                    <div
                      class="select-item"
                      data-price="от 1 343 000 ₽"
                      data-items="Постоянный полный привод,Электропривод и обогрев наружных зеркал"
                    >
                      Классик’24
                    </div>
                    <div
                      class="select-item"
                      data-price="от 1 277 000 ₽"
                      data-items="Передние подушки безопасности,Система стабилизации ESC и ABS,Передние подушки безопасности,Система стабилизации ESC и ABS"
                    >
                      Комфорт
                    </div>
                    <div
                      class="select-item"
                      data-price="от 780 000 ₽"
                      data-items="Кондиционер,Электропривод и обогрев наружных зеркал,Электростеклоподъемники передних дверей,Устройство вызова экстренных служб ЭРА-ГЛОНАСС с функцией автоматической активации датчиками удара и подушкой безопасности водителя"
                    >
                      Классик Кондиционер
                    </div>
                    <div
                      class="select-item"
                      data-price="от 1 019 000 ₽"
                      data-items="Кондиционер,Электропривод и обогрев наружных зеркал,Электростеклоподъемники передних дверей,Устройство вызова экстренных служб ЭРА-ГЛОНАСС с функцией автоматической активации датчиками удара и подушкой безопасности водителя"
                    >
                      Классик Кондиционер
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-product__complectation">
              <div class="card-product__subtitle">
                Особенности выбранной комплектации
              </div>
              <ul class="list card-product__list"></ul>
              <div class="card-product__toggle-list">Развернуть</div>
            </div>
            <div class="card-product__buttons">
              <a
                href="#modal-feedback"
                data-fancybox
                data-target-note="#input-modal-feedback"
                data-btn-note=""
                class="btn-s _outline-primary card-product__feedback-btn"
              >
                Оставить заявку
              </a>
              <a
                href="#modal-feedback"
                data-fancybox
                data-target-note="#input-modal-feedback"
                data-btn-note="Записаться на тест-драйв. Семейство Niva Travel"
                class="btn-s _dark"
              >
                Записаться на тест-драйв
              </a>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
