<section class="sect-p s-connect" id="s-connect" style="background: url('@img/connect-bg.jpg') center / cover no-repeat;">
  <div class="container">
    <div class="s-connect__info">
      <h2 class="s-connect__title">
        Понравилась модель?
        <br />
        Оставьте заявку прямо сейчас!
      </h2>
      <p class="s-connect__content">
        Получите индивидуальное предложение на новый LADA и консультацию от
        официального дилера!
      </p>
      <form action="#" class="s-connect__form">
        <div class="input-control">
          <div class="select-i">
            <div class="select-i-btn">
              <input
                type="text"
                placeholder="Модель"
                readonly
                class="input select-i-input"
              />
              <svg class="arrow">
                <use xlink:href="img/icons/icons.svg#icon-down"></use>
              </svg>
            </div>
            <div class="select-i-body">
              <div class="select-i-item">Модель 1</div>
              <div class="select-i-item">Модель 2</div>
              <div class="select-i-item">Модель 3</div>
              <div class="select-i-item">Модель 4</div>
              <div class="select-i-item">Модель 5</div>
            </div>
          </div>
        </div>
        <div class="input-control _half">
          <input type="text" placeholder="Имя" class="input" />
        </div>
        <div class="input-control _half">
          <input type="text" placeholder="Фамилия" class="input" />
        </div>
        <button type="submit" class="btn-s">отправить заявку</button>
        <div class="check-wrapper">
          <span class="wpcf7-form-control-wrap" data-name="acceptance-297">
            <span class="wpcf7-form-control wpcf7-acceptance">
              <span class="wpcf7-list-item">
                <label>
                  <input
                    type="checkbox"
                    name="acceptance-297"
                    value="1"
                    aria-invalid="false"
                  />
                  <span class="wpcf7-list-item-label">
                    <span>
                      Я даю согласие на
                      <a href="/privacy-policy" target="_blank">
                        обработку персональных данных
                      </a>
                    </span>
                  </span>
                </label>
              </span>
            </span>
          </span>
        </div>
      </form>
    </div>
  </div>
</section>
