<section class="sect-m s-get-credit" id="s-get-credit">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">как получить кредит</h2>
    </div>
    <div class="s-get-credit__grid">
      <div class="s-get-credit__item">
        <h3 class="t-title title">Отправьте заявку</h3>
        <p class="content">
          Заполните форму и отправьте её в дилерский центр
        </p>
        <a
          href="#modal-feedback"
          data-fancybox
          data-target-note="#input-modal-feedback"
          data-btn-note="оформить кредит"
          class="btn-s btn"
        >
          оформить кредит
        </a>
        <div class="num">1</div>
      </div>
      <div class="s-get-credit__item">
        <h3 class="t-title title">Отправьте заявку</h3>
        <p class="content">
          Вы можете отправить заявку через официальный дилерский центр LADA лично или удаленно
        </p>
        <div class="num">2</div>
      </div>
      <div class="s-get-credit__item">
        <h3 class="t-title title">Оформите документы</h3>
        <p class="content">
          Подпишите кредитный договор и договор купли-продажи
        </p>
        <div class="num">3</div>
      </div>
    </div>
  </div>
</section>
