<section class="s-intro" id="s-intro">
  <div class="swiper s-intro__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide s-intro__slide">
        <div
          style="
            background: url(&quot;@img/intro-1.jpg&quot;) center / cover
              no-repeat;
          "
          class="s-intro__slide-bg"
        ></div>
        <picture class="s-intro__slide-bg">
          <source srcset="@img/intro-1-mob.jpg" media="(max-width: 576px)" />
          <img src="@img/intro-1.jpg" alt="image" />
        </picture>
        <div class="container">
          <div class="s-intro__slide-body">
            <img
              src="@img/intro-logo.svg"
              alt="logo"
              class="s-intro__slide-logo"
            />
            <h1 class="s-intro__title m-title">
              Официальный дилер LADA в Нижнем Тагиле
            </h1>
            <p class="s-intro__content">
              Покупая LADA у официального дилера, вы получаете гарантию от
              производителя, качественное сервисное обслуживание и доступ к
              оригинальным запчастям. Доверьтесь профессионалам!
            </p>
            <a href="#" class="btn-s _outline-white s-intro__slide-btn">
              ПОСМОТРЕТЬ МОДЕЛЬНЫЙ РЯД
            </a>
          </div>
        </div>
      </div>
      <div class="swiper-slide s-intro__slide">
        <picture class="s-intro__slide-bg">
          <img src="@img/intro-2.jpg" alt="image" />
        </picture>
        <div class="container">
          <div class="s-intro__slide-body">
            <img
              src="@img/intro-logo.svg"
              alt="logo"
              class="s-intro__slide-logo"
            />
            <h2 class="s-intro__title m-title">
              Официальный дилер LADA в Нижнем Тагиле
            </h2>
            <p class="s-intro__content">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti
              eligendi repellendus quisquam harum tempora ipsa ea voluptatum at
              soluta quidem, laborum obcaecati rerum! Iusto, molestias! Velit
              labore optio numquam qui!
            </p>
            <a href="#" class="btn-s _outline-white s-intro__slide-btn">
              ПОСМОТРЕТЬ МОДЕЛЬНЫЙ РЯД
            </a>
          </div>
        </div>
      </div>
      <div class="swiper-slide s-intro__slide">
        <picture class="s-intro__slide-bg">
          <source srcset="@img/intro-1-mob.jpg" media="(max-width: 576px)" />
          <img src="@img/intro-1.jpg" alt="image" />
        </picture>
        <div class="container">
          <div class="s-intro__slide-body">
            <img
              src="@img/intro-logo.svg"
              alt="logo"
              class="s-intro__slide-logo"
            />
            <h2 class="s-intro__title m-title">
              Официальный дилер LADA в Нижнем Тагиле
            </h2>
            <p class="s-intro__content">
              Покупая LADA у официального дилера, вы получаете гарантию от
              производителя, качественное сервисное обслуживание и доступ к
              оригинальным запчастям. Доверьтесь профессионалам!
            </p>
            <a href="#" class="btn-s _outline-white s-intro__slide-btn">
              ПОСМОТРЕТЬ МОДЕЛЬНЫЙ РЯД
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="s-intro__slider-nav">
    <div class="container">
      <div class="slider-arrows">
        <div class="slider-arrow _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-prev"></use>
          </svg>
        </div>
        <div class="slider-arrow _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-next"></use>
          </svg>
        </div>
      </div>
      <div class="slider-pagination"></div>
    </div>
  </div>
</section>
