<section class="sect-p s-offer bg-light" id="s-offer">
  <div class="container">
    <div class="s-offer__wrapper">
      <div class="s-offer__info">
        <h2 class="s-offer__title t-title">выгодные предложения от Lada Finance</h2>
        <div class="content-box s-offer__content">
          <p>
            LADA Finance - это программа кредитования, которая предоставляет
            возможность приобрести новый автомобиль LADA в кредит на выгодных
            условиях при финансовой поддержке производителя.
          </p>
        </div>
        <a
          href="#modal-feedback"
          data-fancybox
          data-target-note="#input-modal-feedback"
          data-btn-note="Заявка на кредит"
          class="btn-s s-offer__btn"
        >
          ЗАЯВКА НА КРЕДИТ
        </a>
      </div>
      <div class="s-offer__slider-wrapper">
        <div class="swiper s-offer__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <article
                class="card-promo"
                style="
                  background: url(&quot;@img/promo.jpg&quot;) center / cover
                    no-repeat;
                "
              >
                <div class="card-promo__body">
                  <h3 class="card-promo__title">
                    LADA GRANTA С ВЫГОДОЙ ДО 333 000 РУБ.
                  </h3>
                  <div class="card-promo__descr">
                    Специальный кредит с ежемесячным платежом 8 000 рублей* от
                    Авто Финанс Банка.
                  </div>
                </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article
                class="card-promo"
                style="
                  background: url(&quot;@img/promo.jpg&quot;) center / cover
                    no-repeat;
                "
              >
                <div class="card-promo__body">
                  <h3 class="card-promo__title">
                    LADA GRANTA С ВЫГОДОЙ ДО 333 000 РУБ.
                  </h3>
                  <div class="card-promo__descr">
                    Специальный кредит с ежемесячным платежом 8 000 рублей* от
                    Авто Финанс Банка.
                  </div>
                </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article
                class="card-promo"
                style="
                  background: url(&quot;@img/promo.jpg&quot;) center / cover
                    no-repeat;
                "
              >
                <div class="card-promo__body">
                  <h3 class="card-promo__title">
                    LADA GRANTA С ВЫГОДОЙ ДО 333 000 РУБ.
                  </h3>
                  <div class="card-promo__descr">
                    Специальный кредит с ежемесячным платежом 8 000 рублей* от
                    Авто Финанс Банка.
                  </div>
                </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article
                class="card-promo"
                style="
                  background: url(&quot;@img/promo.jpg&quot;) center / cover
                    no-repeat;
                "
              >
                <div class="card-promo__body">
                  <h3 class="card-promo__title">
                    LADA GRANTA С ВЫГОДОЙ ДО 333 000 РУБ.
                  </h3>
                  <div class="card-promo__descr">
                    Специальный кредит с ежемесячным платежом 8 000 рублей* от
                    Авто Финанс Банка.
                  </div>
                </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article
                class="card-promo"
                style="
                  background: url(&quot;@img/promo.jpg&quot;) center / cover
                    no-repeat;
                "
              >
                <div class="card-promo__body">
                  <h3 class="card-promo__title">
                    LADA GRANTA С ВЫГОДОЙ ДО 333 000 РУБ.
                  </h3>
                  <div class="card-promo__descr">
                    Специальный кредит с ежемесячным платежом 8 000 рублей* от
                    Авто Финанс Банка.
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
        <div class="slider-scrollbar"></div>
      </div>
    </div>
  </div>
</section>
