<section
  class="sect-p s-promo"
  id="s-promo"
  style="
    background: url(&quot;@img/promo-bg.jpg&quot;) center / cover no-repeat;
  "
>
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">акции и специальные предложения</h2>
      <div class="slider-arrows">
        <div class="slider-arrow _prev _white">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-prev"></use>
          </svg>
        </div>
        <div class="slider-arrow _next _white">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-next"></use>
          </svg>
        </div>
      </div>
    </div>

    <div class="swiper s-promo__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article
            class="card-promo"
            style="
              background: url(&quot;@img/promo.jpg&quot;) center / cover
                no-repeat;
            "
          >
            <div class="card-promo__body">
              <h3 class="card-promo__title">
                LADA GRANTA С ВЫГОДОЙ ДО 333 000 РУБ.
              </h3>
              <div class="card-promo__date">01.04.2026 - 30.04.2026</div>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article
            class="card-promo"
            style="
              background: url(&quot;@img/promo.jpg&quot;) center / cover
                no-repeat;
            "
          >
            <div class="card-promo__body">
              <h3 class="card-promo__title">
                LADA GRANTA С ВЫГОДОЙ ДО 333 000 РУБ.
              </h3>
              <div class="card-promo__date">01.04.2026 - 30.04.2026</div>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article
            class="card-promo"
            style="
              background: url(&quot;@img/promo.jpg&quot;) center / cover
                no-repeat;
            "
          >
            <div class="card-promo__body">
              <h3 class="card-promo__title">
                LADA GRANTA С ВЫГОДОЙ ДО 333 000 РУБ.
              </h3>
              <div class="card-promo__date">01.04.2026 - 30.04.2026</div>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article
            class="card-promo"
            style="
              background: url(&quot;@img/promo.jpg&quot;) center / cover
                no-repeat;
            "
          >
            <div class="card-promo__body">
              <h3 class="card-promo__title">
                LADA GRANTA С ВЫГОДОЙ ДО 333 000 РУБ.
              </h3>
              <div class="card-promo__date">01.04.2026 - 30.04.2026</div>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article
            class="card-promo"
            style="
              background: url(&quot;@img/promo.jpg&quot;) center / cover
                no-repeat;
            "
          >
            <div class="card-promo__body">
              <h3 class="card-promo__title">
                LADA GRANTA С ВЫГОДОЙ ДО 333 000 РУБ.
              </h3>
              <div class="card-promo__date">01.04.2026 - 30.04.2026</div>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article
            class="card-promo"
            style="
              background: url(&quot;@img/promo.jpg&quot;) center / cover
                no-repeat;
            "
          >
            <div class="card-promo__body">
              <h3 class="card-promo__title">
                LADA GRANTA С ВЫГОДОЙ ДО 333 000 РУБ.
              </h3>
              <div class="card-promo__date">01.04.2026 - 30.04.2026</div>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article
            class="card-promo"
            style="
              background: url(&quot;@img/promo.jpg&quot;) center / cover
                no-repeat;
            "
          >
            <div class="card-promo__body">
              <h3 class="card-promo__title">
                LADA GRANTA С ВЫГОДОЙ ДО 333 000 РУБ.
              </h3>
              <div class="card-promo__date">01.04.2026 - 30.04.2026</div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="slider-scrollbar"></div>
  </div>
</section>
