<section class="sect-m s-request" id="s-request">
  <div class="container">
    <div class="s-request__wrapper">
      <img src="@img/request.jpg" alt="image" class="s-request__img" />
      <div class="s-request__main">
        <div class="s-request__main-container">
          <h2 class="s-title s-request__title">заявка на кредит</h2>
          <p class="s-request__content">
            Быстрый поиск, сравнение, выбор и предзаказ автомобилей LADA.
          </p>
          <form action="#" class="s-request__form">
            <div class="input-control">
              <div class="select-i">
                <div class="select-i-btn">
                  <input
                    type="text"
                    placeholder="Модель"
                    readonly
                    class="input select-i-input"
                  />
                  <svg class="arrow">
                    <use xlink:href="img/icons/icons.svg#icon-down"></use>
                  </svg>
                </div>
                <div class="select-i-body">
                  <div class="select-i-item">Модель 1</div>
                  <div class="select-i-item">Модель 2</div>
                  <div class="select-i-item">Модель 3</div>
                  <div class="select-i-item">Модель 4</div>
                  <div class="select-i-item">Модель 5</div>
                </div>
              </div>
            </div>
            <div class="input-control _half">
              <input type="text" placeholder="Имя" class="input" />
            </div>
            <div class="input-control _half">
              <input type="text" placeholder="Фамилия" class="input" />
            </div>
            <div class="input-control">
              <input type="text" placeholder="Отчество" class="input" />
            </div>
            <div class="input-control _half">
              <input type="tel" placeholder="Телефон" class="input" />
            </div>
            <div class="input-control _half">
              <input
                type="email"
                placeholder="Электронная почта"
                class="input"
              />
            </div>
            <div class="checks">
              <div class="check-wrapper">
                <span class="wpcf7-form-control-wrap" data-name="acceptance-297">
                  <span class="wpcf7-form-control wpcf7-acceptance">
                    <span class="wpcf7-list-item">
                      <label>
                        <input
                          type="checkbox"
                          name="acceptance-297"
                          value="1"
                          aria-invalid="false"
                        />
                        <span class="wpcf7-list-item-label">
                          <span>
                            Я даю согласие на
                            <a href="/privacy-policy" target="_blank">
                              обработку персональных данных
                            </a>
                          </span>
                        </span>
                      </label>
                    </span>
                  </span>
                </span>
              </div>
              <div class="check-wrapper">
                <span class="wpcf7-form-control-wrap" data-name="acceptance-297">
                  <span class="wpcf7-form-control wpcf7-acceptance">
                    <span class="wpcf7-list-item">
                      <label>
                        <input
                          type="checkbox"
                          name="acceptance-298"
                          value="1"
                          aria-invalid="false"
                        />
                        <span class="wpcf7-list-item-label">
                          <span>
                            Соглашаюсь на <a href="#" target="_blank">Получение информационно-рекламной рассылки</a>
                          </span>
                        </span>
                      </label>
                    </span>
                  </span>
                </span>
              </div>
            </div>
            <button type="submit" class="btn-s">отправить заявку</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
