@use "../base/templates" as *;
@use "../base/media" as *;
.card-promo {
  display: flex;
  align-items: flex-end;
  width: 100%;
  aspect-ratio: 1/1;
  &__body {
    padding: 40px 30px;
    width: 100%;
    background: rgba(38, 38, 38, 0.5);
    color: white;
    @include tablet {
      padding: 25px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 18px;
    max-width: 290px;
    margin: 0;
    @include tablet {
      font-size: 16px;
    }
  }
  &__date {
    font-size: 16px;
    margin-top: 20px;
    @include tablet {
      margin-top: 15px;
      font-size: 15px;
    }
  }
  &__descr {
    font-size: 16px;
    margin-top: 20px;
    @include tablet {
      margin-top: 15px;
      font-size: 15px;
    }
  }
}
