@use "../base/templates" as *;
@use "../base/media" as *;

.m-title {
  font-weight: 400;
  font-size: 60px;
  line-height: 107%;
  letter-spacing: 0.01em;
  margin: 0;

  @include laptop-middle {
    font-size: 54px;
  }
  @include laptop-min {
    font-size: 48px;
  }
  @include tablet {
    font-size: 42px;
  }
  @include tablet-min {
    font-size: 36px;
  }
}

.s-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 108%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin: 0;

  @include laptop-middle {
    font-size: 36px;
  }
  @include laptop-min {
    font-size: 32px;
  }
  @include tablet {
    font-size: 28px;
  }
  @include tablet-min {
    font-size: 26px;
  }
}

.t-title {
  font-weight: 400;
  font-size: 25px;
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  @include laptop {
    font-size: 23px;
  }
  @include laptop-min {
    font-size: 20px;
  }
}
